<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../partials/header-nav.ejs") %></header>

        <main>
            <h1><%= pageName %></h1>

            <!-- Form's "action" must match author.js' ".post()" function -->
            <!-- <label for> == <input id> helps with accessibility selection -->
            <!-- <input name> helps with route and .js functionality -->
            <% let actionUrl = ""; if (pageName == "Create new article") { actionUrl = "/author/article" } else { actionUrl = "/author/article/" + formInputStored.chosenId } %>
            <form method="POST" action="<%= actionUrl %>" style="width: 570px">
                <div class="form-input-area">
                    <label for="articleTitle">Title</label>
                    <input id="articleTitle" name="articleTitle" type="text" value="<%= formInputStored.articleTitle %>" />
                    <%formErrors.forEach((error) => { %> <%if (error.path == 'articleTitle') { %>
                    <p class="error-message"><%= error.msg %></p>
                    <%}}) %>
                </div>

                <div class="form-input-area">
                    <label for="articleSubtitle">Subtitle (optional)</label>
                    <input id="articleSubtitle" name="articleSubtitle" type="text" type="text" value="<%= formInputStored.articleSubtitle %>" />
                </div>

                <div class="form-input-area">
                    <!-- Still need <input> but hidden for input to persist -->
                    <label id="articleBody">Body</label>
                    <input id="hiddenArticleBody" name="articleBody" type="hidden" />
                    <!-- From https://www.youtube.com/watch?v=la-0HOaNL10  -->
                    <div class="rich-text-editor-container">
                        <div class="rich-text-editor-options-container">
                            <!-- Headings -->
                            <select id="formatBlock" class="adv-option-button" title="Style">
                                <!-- Add spaces for readbility -->
                                <option value="p">&nbsp;Normal</option>
                                <option value="H1">&nbsp;Heading 1</option>
                                <option value="H2">&nbsp;Heading 2</option>
                                <option value="H3">&nbsp;Heading 3</option>
                                <option value="H4">&nbsp;Heading 4</option>
                                <option value="H5">&nbsp;Heading 5</option>
                                <option value="H6">&nbsp;Heading 6&nbsp;&nbsp;</option>
                            </select>

                            <!-- Fonts and its size (its options also has spaces for readability) -->
                            <select id="fontName" class="adv-option-button" title="Font"></select>
                            <select id="fontSize" class="adv-option-button" title="Font size"></select>

                            <!-- Colour -->
                            <div class="rich-text-editor-color-picker-container" title="Text color">
                                <label for="foreColor" class="color-picker-label"><i class="fa-solid fa-font"></i></label>
                                <!-- value = css' --text -->
                                <input id="foreColor" class="adv-option-button color-picker" type="color" value="#f0f0f0" />
                            </div>
                            <div class="rich-text-editor-color-picker-container" title="Highlight color">
                                <label for="backColor" class="color-picker-label"><i class="fa-solid fa-highlighter"></i></label>
                                <!-- value = css' --background-light -->
                                <input id="backColor" class="adv-option-button color-picker" type="color" value="#3c3c3c" />
                            </div>

                            <!-- Text format -->
                            <button id="bold" class="option-button format" title="Bold (CTRL + B)">
                                <i class="fa-solid fa-bold"></i>
                            </button>
                            <button id="italic" class="option-button format" title="Italic (CTRL + I)">
                                <i class="fa-solid fa-italic"></i>
                            </button>
                            <button id="underline" class="option-button format" title="Underline (CTRL + U)">
                                <i class="fa-solid fa-underline"></i>
                            </button>
                            <button id="strikethrough" class="option-button format" title="Strikethrough">
                                <i class="fa-solid fa-strikethrough"></i>
                            </button>
                            <button id="superscript" class="option-button script" title="Superscript">
                                <i class="fa-solid fa-superscript"></i>
                            </button>
                            <button id="subscript" class="option-button script" title="Subscript">
                                <i class="fa-solid fa-subscript"></i>
                            </button>

                            <!-- List -->
                            <button id="insertOrderedList" class="option-button" title="Numbered list">
                                <div class="fa-solid fa-list-ol"></div>
                            </button>
                            <button id="insertUnorderedList" class="option-button" title="Bullet point">
                                <div class="fa-solid fa-list-ul"></div>
                            </button>

                            <!-- Alignment -->
                            <button id="justifyLeft" class="option-button align" title="Justify left">
                                <i class="fa-solid fa-align-left"></i>
                            </button>
                            <button id="justifyCenter" class="option-button align" title="Justify center">
                                <i class="fa-solid fa-align-center"></i>
                            </button>
                            <button id="justifyRight" class="option-button align" title="Justify right">
                                <i class="fa-solid fa-align-right"></i>
                            </button>
                            <button id="justifyFull" class="option-button align" title="Justify full">
                                <i class="fa-solid fa-align-justify"></i>
                            </button>
                            <button id="indent" class="option-button spacing" title="Indent">
                                <i class="fa-solid fa-indent"></i>
                            </button>
                            <button id="outdent" class="option-button spacing" title="Unindent">
                                <i class="fa-solid fa-outdent"></i>
                            </button>

                            <!-- Link -->
                            <button id="createLink" class="adv-option-button" title="Link">
                                <i class="fa fa-link"></i>
                            </button>
                            <button id="unlink" class="adv-option-button" title="Unlink">
                                <i class="fa fa-unlink"></i>
                            </button>

                            <!-- Undo/Redo -->
                            <button id="undo" class="option-button" title="Undo">
                                <i class="fa-solid fa-rotate-left"></i>
                            </button>
                            <button id="redo" class="option-button" title="Redo">
                                <i class="fa-solid fa-rotate-right"></i>
                            </button>
                        </div>
                        <div id="text-input" contenteditable="true"><%- formInputStored.articleBody %></div>
                        <%formErrors.forEach((error) => { %> <%if (error.path == 'articleBody') { %>
                        <p class="error-message"><%= error.msg %></p>
                        <%} %> <%}) %>
                    </div>
                </div>

                <!-- If "Create new article",     then "Save to draft" and "Publish" -->
                <!-- If "Edit draft article",     then "Update draft"  and "Publish" -->
                <!-- If "Edit published article", then "Save to draft" and "Update published" -->

                <%if (pageName == "Create new article") { %>
                <button class="btn btn-alert" type="submit" name="thisReturnsItsValue" value="draft">Save to draft</button>
                <button class="btn btn-primary" type="submit" name="thisReturnsItsValue" value="published">Publish</button>
                <a href="/author"><button class="btn btn-warning" type="button">Cancel</button></a>
                <%} else if (pageName == "Edit draft article") { %>
                <button class="btn btn-alert" type="submit" name="thisReturnsItsValue" value="draft">Update draft</button>
                <button class="btn btn-primary" type="submit" name="thisReturnsItsValue" value="published">Publish</button>
                <a href="/author"><button class="btn btn-warning" type="button">Cancel</button></a>
                <%} else if (pageName == "Edit published article") { %>
                <button class="btn btn-alert" type="submit" name="thisReturnsItsValue" value="draft">Save to draft</button>
                <button class="btn btn-primary" type="submit" name="thisReturnsItsValue" value="published">Update publish</button>
                <a href="/author"><button class="btn btn-warning" type="button">Cancel</button></a>
                <%} %>
            </form>
        </main>

        <footer><%- include("../partials/footer.ejs") %></footer>

        <script src="/rich-text-editor.js"></script>
        <script>
            // Imitate focus interaction like <label for> and <input id>
            // ...between header text and text-input
            document.getElementById("articleBody").addEventListener("click", () => {
                document.getElementById("text-input").focus();
            });
            // For persisting text and its HTML formatting within "text-input" <div>
            document.querySelector("form").addEventListener("submit", () => {
                let textInputDiv = document.getElementById("text-input");
                let hiddenArticleBodyInput = document.getElementById("hiddenArticleBody");
                hiddenArticleBodyInput.value = textInputDiv.innerHTML;
            });
        </script>
    </body>
</html>
