<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../header-nav.ejs") %></header>

        <main>
            <h1><%= pageName %></h1>

            <!-- Form's "action" must match author.js' ".post()" function -->
            <!-- <label for> == <input id> helps with accessibility selection -->
            <!-- <input name> helps with route and .js functionality -->
            <% let actionUrl = ""; if (pageName == "Create New Article") { actionUrl = "/author/article"; } else { actionUrl = "/author/article/" + formInput.chosenId; } %>
            <form method="POST" action="<%= actionUrl %>" class="article-form">
                <div class="form-input-area">
                    <label for="articleTitle">Title</label>
                    <input id="articleTitle" name="articleTitle" type="text" value="<%= formInput.articleTitle %>" />
                    <%formErrors.forEach((error) => { %> <%if (error.path == 'articleTitle') { %>
                    <p class="error-message"><%= error.msg %></p>
                    <%} %> <%}); %>
                </div>

                <div class="form-input-area">
                    <label for="articleSubtitle">Subtitle (optional)</label>
                    <input id="articleSubtitle" name="articleSubtitle" type="text" type="text" value="<%= formInput.articleSubtitle %>" />
                </div>

                <div class="form-input-area">
                    <!-- Still need <input> but hidden for input to persist -->
                    <label id="articleBody">Body</label>
                    <input id="hiddenArticleBody" name="articleBody" type="hidden" />
                    <!-- From https://www.youtube.com/watch?v=la-0HOaNL10  -->
                    <div class="rich-text-editor-container">
                        <div class="rich-text-editor-options-container">
                            <!-- Headings -->
                            <select id="formatBlock" class="adv-option-button" title="Style">
                                <!-- Add spaces for readbility -->
                                <option value="p">&nbsp;&nbsp;Normal&nbsp;&nbsp;</option>
                                <option value="H1">&nbsp;&nbsp;Heading 1&nbsp;&nbsp;</option>
                                <option value="H2">&nbsp;&nbsp;Heading 2&nbsp;&nbsp;</option>
                                <option value="H3">&nbsp;&nbsp;Heading 3&nbsp;&nbsp;</option>
                                <option value="H4">&nbsp;&nbsp;Heading 4&nbsp;&nbsp;</option>
                                <option value="H5">&nbsp;&nbsp;Heading 5&nbsp;&nbsp;</option>
                                <option value="H6">&nbsp;&nbsp;Heading 6&nbsp;&nbsp;</option>
                            </select>

                            <!-- Fonts and its size (its options also has spaces for readability) -->
                            <select id="fontName" class="adv-option-button" title="Font"></select>
                            <select id="fontSize" class="adv-option-button" title="Font size"></select>

                            <!-- Colour -->
                            <div class="rich-text-editor-color-picker-container" title="Text color">
                                <label for="foreColor" class="color-picker-label"><i class="fa-solid fa-font"></i></label>
                                <!-- value = css' --text -->
                                <input id="foreColor" class="adv-option-button color-picker" type="color" value="#f0f0f0" />
                            </div>
                            <div class="rich-text-editor-color-picker-container" title="Highlight color">
                                <label for="backColor" class="color-picker-label"><i class="fa-solid fa-highlighter"></i></label>
                                <!-- value = css' --background-light -->
                                <input id="backColor" class="adv-option-button color-picker" type="color" value="#3c3c3c" />
                            </div>

                            <!-- Text format -->
                            <button id="bold" class="option-button format" title="Bold (CTRL + B)">
                                <i class="fa-solid fa-bold"></i>
                            </button>
                            <button id="italic" class="option-button format" title="Italic (CTRL + I)">
                                <i class="fa-solid fa-italic"></i>
                            </button>
                            <button id="underline" class="option-button format" title="Underline (CTRL + U)">
                                <i class="fa-solid fa-underline"></i>
                            </button>
                            <button id="strikethrough" class="option-button format" title="Strikethrough">
                                <i class="fa-solid fa-strikethrough"></i>
                            </button>
                            <button id="superscript" class="option-button script" title="Superscript">
                                <i class="fa-solid fa-superscript"></i>
                            </button>
                            <button id="subscript" class="option-button script" title="Subscript">
                                <i class="fa-solid fa-subscript"></i>
                            </button>

                            <!-- List -->
                            <button id="insertOrderedList" class="option-button" title="Numbered list">
                                <div class="fa-solid fa-list-ol"></div>
                            </button>
                            <button id="insertUnorderedList" class="option-button" title="Bullet point">
                                <div class="fa-solid fa-list-ul"></div>
                            </button>

                            <!-- Alignment -->
                            <button id="justifyLeft" class="option-button align" title="Justify left">
                                <i class="fa-solid fa-align-left"></i>
                            </button>
                            <button id="justifyCenter" class="option-button align" title="Justify center">
                                <i class="fa-solid fa-align-center"></i>
                            </button>
                            <button id="justifyRight" class="option-button align" title="Justify right">
                                <i class="fa-solid fa-align-right"></i>
                            </button>
                            <button id="justifyFull" class="option-button align" title="Justify full">
                                <i class="fa-solid fa-align-justify"></i>
                            </button>
                            <button id="indent" class="option-button spacing" title="Indent">
                                <i class="fa-solid fa-indent"></i>
                            </button>
                            <button id="outdent" class="option-button spacing" title="Unindent">
                                <i class="fa-solid fa-outdent"></i>
                            </button>

                            <!-- Link -->
                            <button id="createLink" class="adv-option-button" title="Link">
                                <i class="fa fa-link"></i>
                            </button>
                            <button id="unlink" class="adv-option-button" title="Unlink">
                                <i class="fa fa-unlink"></i>
                            </button>

                            <!-- Undo/Redo -->
                            <button id="undo" class="option-button" title="Undo">
                                <i class="fa-solid fa-rotate-left"></i>
                            </button>
                            <button id="redo" class="option-button" title="Redo">
                                <i class="fa-solid fa-rotate-right"></i>
                            </button>
                        </div>
                        <div id="text-input" contenteditable="true"><%- formInput.articleBody %></div>
                        <%formErrors.forEach((error) => { %> <%if (error.path == 'articleBody') { %>
                        <p class="error-message"><%= error.msg %></p>
                        <%} %> <%}); %>
                    </div>
                </div>

                <!-- If "Create New Article",     then "Save to Draft" and "Publish" -->
                <!-- If "Edit Draft Article",     then "Update"        and "Publish" -->
                <!-- If "Edit Published Article", then "Save to Draft" and "Update Published" -->
                <%if (pageName == "Create New Article") { %>
                <div class="form-input-area">
                    <button type="submit" name="thisReturnsValue" value="draft">Save to Draft</button>
                    <button type="submit" name="thisReturnsValue" value="published">Publish</button>
                    <a href="/author"><button type="button">Cancel</button></a>
                </div>
                <%} else if (pageName == "Edit Draft Article") { %>
                <div class="form-input-area">
                    <button type="submit" name="thisReturnsValue" value="draft">Update Draft</button>
                    <button type="submit" name="thisReturnsValue" value="published">Publish</button>
                    <a href="/author"><button type="button">Cancel</button></a>
                </div>
                <%} else if (pageName == "Edit Published Article") { %>
                <div class="form-input-area">
                    <button type="submit" name="thisReturnsValue" value="draft">Save to Draft</button>
                    <button type="submit" name="thisReturnsValue" value="published">Update Publish</button>
                    <a href="/author"><button type="button">Cancel</button></a>
                </div>
                <%} %>
            </form>
        </main>

        <footer><%- include("../header-nav.ejs") %></footer>

        <script src="/rich-text-editor.js"></script>
        <script>
            // Imitate focus interaction like <label for> and <input id>
            // ...between header text and text-input
            document.getElementById("articleBody").addEventListener("click", () => {
                document.getElementById("text-input").focus();
            });
            // For persisting text and its HTML formatting within "text-input" <div>
            document.querySelector("form").addEventListener("submit", () => {
                let textInputDiv = document.getElementById("text-input");
                let hiddenArticleBodyInput = document.getElementById("hiddenArticleBody");
                hiddenArticleBodyInput.value = textInputDiv.innerHTML;
            });
        </script>
    </body>
</html>
