<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../partials/header-nav.ejs") %></header>

        <main>
            <div class="h1-and-friends-baseline friend-gap">
                <h1><%= blog.title %></h1>
                <p>by <%= blog.display_name %></p>
            </div>

            <a href="/author/article"><button class="btn btn-primary">Create new article</button></a>
            <a href="/author/settings"><button class="btn btn-normal">Settings</button></a>

            <div class="categories-of-articles-container">
                <%articleCategories.forEach((category, index) => { %>
                <h2><%= category %> Articles</h2>
                <table>
                    <!-- Table header -->
                    <tr>
                        <%tableHeaders.forEach(tableHeader => { %>
                        <th class="<%= tableHeader.toLowerCase().replace(' ', '-') %>"><%= tableHeader %></th>
                        <%}) %>
                    </tr>
                    <!-- Table data -->
                    <%if (allArticles[index].length == 0) { %>
                    <tr>
                        <td colspan="<%= tableHeaders.length %>" class="text-dim"><i>No articles here!</i></td>
                    </tr>
                    <%} else { allArticles[index].forEach(article => { %>
                    <tr>
                        <td class="title"><%= article.title %></td>
                        <td class="subtitle"><%= article.subtitle %></td>
                        <td class="views"><%= article.views %></td>
                        <td class="likes"><%= article.likes %></td>
                        <td class="date-created"><%- article.date_created %></td>
                        <td class="date-modified"><%- article.date_modified %></td>
                        <td class="actions">
                            <div class="actions-row-of-buttons">
                                <%if (category == "Deleted") { %>
                                <form method="POST" action="/author">
                                    <button class="btn-small btn-primary" type="submit" name="thisReturnsItsValue" value="draft">Recover (to draft)</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                                <form method="POST" action="/author" class="delete-permanently-form" article-title-to-delete-permanently="<%= article.title %>">
                                    <button class="btn-small btn-warning" type="submit" name="thisReturnsItsValue" value="delete-permanently">Delete permamnently</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                                <%} else { if (category == "Draft") { %>
                                <a href="/author/article/<%= article.id %>"><button class="btn-small btn-alert">Edit</button></a>
                                <form method="POST" action="/author" class="publish-form" article-to-publish="<%= article.title %>">
                                    <button class="btn-small btn-primary" type="submit" name="thisReturnsItsValue" value="published">Publish</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                                <%} else if (category == "Published") { %>
                                <button class="btn-small btn-primary" type="button" onclick="shareArticle(<%= article.id %>)">Share</button>
                                <%} %>
                                <form method="POST" action="/author">
                                    <button class="btn-small btn-warning" type="submit" name="thisReturnsItsValue" value="deleted">Delete</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                                <%} %>
                            </div>
                        </td>
                        <%}) %>
                    </tr>
                    <%} %>
                </table>
                <%}) %>
            </div>

            <div id="popup" class="popup hidden">
                <p id="popup-message"></p>
                <button id="popup-close" class="btn-med btn-alert">Close</button>
            </div>
        </main>

        <footer><%- include("../partials/footer.ejs") %></footer>

        <script src="/error-popup-box.js"></script>
        <script>
            document.querySelectorAll(".publish-form").forEach((form) => {
                form.addEventListener("submit", (event) => {
                    let articleTitle = form.getAttribute("article-to-publish");
                    let confirmation = confirm(`Are you sure you want to publish "${articleTitle}"?`);
                    if (!confirmation) event.preventDefault();
                });
            });
            document.querySelectorAll(".delete-permanently-form").forEach((form) => {
                form.addEventListener("submit", (event) => {
                    let articleTitle = form.getAttribute("article-title-to-delete-permanently");
                    let confirmation = confirm(`Are you sure you want to delete "${articleTitle}" permanently?`);
                    if (!confirmation) event.preventDefault();
                });
            });
            // Popup for easy copy-paste
            function shareArticle(articleId) {
                let url = `${window.location.origin}/reader/blog/${<%= blog.id %>}/article/${articleId}`;
                prompt("Copy this URL to share the article:", url);
            }
        </script>
    </body>
</html>
