<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../partials/header-nav.ejs") %></header>

        <main>
            <div class="blog-info">
                <h1><%= blog.title %></h1>
                <p>by <%= blog.display_name %></p>
            </div>

            <a href="/author/article"><button class="btn btn-primary">Create new article</button></a>
            <a href="/author/settings"><button class="btn btn-normal">Settings</button></a>

            <div class="categories-of-articles-container">
                <%articleCategories.forEach((category, index) => { %>
                <h2><%= category %> Articles</h2>
                <table>
                    <!-- Table header -->
                    <tr>
                        <%tableHeaders.forEach(tableHeader => { %>
                        <th class="<%= tableHeader.toLowerCase().replace(' ', '-') %>"><%= tableHeader %></th>
                        <%}) %>
                    </tr>
                    <!-- Table data -->
                    <%if (allArticles[index].length == 0) { %>
                    <tr>
                        <td colspan="<%= tableHeaders.length %>" class="text-dim"><i>No articles here!</i></td>
                    </tr>
                    <%} else { allArticles[index].forEach(article => { %>
                    <tr>
                        <td class="title"><%= article.title %></td>
                        <td class="subtitle"><%= article.subtitle %></td>
                        <td class="views"><%= article.views %></td>
                        <td class="likes"><%= article.likes %></td>
                        <td class="date-created"><%- article.date_created %></td>
                        <td class="date-modified"><%- article.date_modified %></td>
                        <td class="actions">
                            <!-- Form's "action" must match author.js' ".post()" function -->
                            <!-- <input name> helps with route and .js functionality -->
                            <%if (category == "Draft") { %>
                            <div class="actions-row-of-buttons">
                                <a href="/author/article/<%= article.id %>"><button class="btn-small btn-alert">Edit</button></a>
                                <form method="POST" action="/author/publish">
                                    <button class="btn-small btn-primary" type="submit">Publish</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                                <form method="POST" action="/author/delete">
                                    <button class="btn-small btn-warning" type="submit">Delete</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                            </div>

                            <%} else if (category == "Published") { %>
                            <div class="actions-row-of-buttons">
                                <a href="/author/article/<%= article.id %>"><button class="btn-small btn-alert">Edit</button></a>
                                <form method="POST" action="/author/unpublish">
                                    <button class="btn-small btn-primary" type="submit">Unpublish</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                                <form method="POST" action="/author/delete">
                                    <button class="btn-small btn-warning" type="submit">Delete</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                            </div>

                            <%} else if (category == "Deleted") { %>
                            <div class="actions-row-of-buttons">
                                <form method="POST" action="/author/recover">
                                    <button class="btn-small btn-primary" type="submit">Recover (to Draft)</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                                <form method="POST" action="/author/delete-permanently" class="delete-permanently-form" article-to-delete-permanently="<%= article.title %>">
                                    <button class="btn-small btn-warning" type="submit">Delete Permamnently</button>
                                    <input name="chosenId" type="hidden" value="<%= article.id %>" />
                                </form>
                            </div>
                            <%} %>
                        </td>
                        <%}) %>
                    </tr>
                    <%} %>
                </table>
                <%}) %>
            </div>
        </main>

        <footer><%- include("../partials/footer.ejs") %></footer>

        <script>
            document.querySelectorAll(".delete-permanently-form").forEach((form) => {
                form.addEventListener("submit", (event) => {
                    let articleTitle = form.getAttribute("article-to-delete-permanently");
                    let confirmation = confirm(`Are you sure you want to delete the following article permanently?\n- ${articleTitle}`);
                    if (!confirmation) event.preventDefault();
                });
            });
        </script>
    </body>
</html>
