<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../partials/header-nav.ejs") %></header>

        <main>
            <h1><%= pageName %></h1>

            <!-- Form's "action" must match author.js' ".post()" function -->
            <!-- <label for> == <input id> helps with accessibility selection -->
            <!-- <input name> helps with route and .js functionality -->
            <form method="POST" action="/author/settings" class="form-width-25">
                <div class="form-input-area">
                    <label for="blogTitle">Blog title</label>
                    <input id="blogTitle" name="blogTitle" type="text" value="<%= formInputStored.blogTitle %>" />
                    <%formErrors.forEach((error) => { %> <%if (error.path == 'blogTitle') { %>
                    <p class="error-message"><%= error.msg %></p>
                    <%} %> <%}); %>
                </div>

                <div class="form-input-area">
                    <label for="displayName">Display name</label>
                    <input id="displayName" name="displayName" type="text" value="<%= formInputStored.displayName %>" />
                    <%formErrors.forEach((error) => { %> <%if (error.path == 'displayName') { %>
                    <p class="error-message"><%= error.msg %></p>
                    <%} %> <%}); %>
                </div>

                <input class="btn btn-primary" type="submit" value="Save" />
                <a href="/author"><button class="btn btn-normal" type="button">Cancel</button></a>
            </form>
        </main>

        <footer><%- include("../partials/footer.ejs") %></footer>
    </body>
</html>
