<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%-include("../header-nav.ejs") %></header>

        <h1><%= pageName %></h1>

        <!-- Form's "action" must match author.js' ".post()" function -->
        <!-- <label for> == <input id> helps with accessibility selection -->
        <!-- <input name> helps with route and .js functionality -->
        <form method="POST" action="/author/settings">
            <div class="form-input-area">
                <label for="blogTitle">Blog's title</label>
                <input id="blogTitle" name="blogTitle" type="text" value="<%= settings.blog_title %>" />
                <%formErrors.forEach((error) => { %> <%if (error.path == 'blogTitle') { %>
                <p class="error-message"><%= error.msg %></p>
                <%} %> <%}); %>
            </div>

            <div class="form-input-area">
                <label for="authorName">Author's name</label>
                <input id="authorName" name="authorName" type="text" value="<%= settings.author_name %>" />
                <%formErrors.forEach((error) => { %> <%if (error.path == 'authorName') { %>
                <p class="error-message"><%= error.msg %></p>
                <%} %> <%}); %>
            </div>

            <div class="form-input-area">
                <input type="submit" value="Save" />
                <a href="/author"><button type="button">Cancel</button></a>
            </div>
        </form>

        <footer><%-include("../header-nav.ejs") %></footer>
    </body>
</html>
