<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../partials/header-nav.ejs") %></header>

        <main>
            <div class="reader-title-container-with-back-btn">
                <div class="h1-and-friends-center absolute">
                    <a href="/reader">Blogs</a>
                    <p>&nbsp;&nbsp;/&nbsp;&nbsp;</p>
                    <a href="/reader/blog/<%= blogAndUser.id %>">Articles</a>
                </div>
                <div class="reader-title-itself">
                    <h1><%= blogAndUser.title %></h1>
                    <p>by <%= blogAndUser.display_name %></p>
                </div>
            </div>

            <div class="reader-display-items all-width">
                <h2><%= publishedArticle.title %></h2>
                <h3><%= publishedArticle.subtitle %></h3>
                <p class="date-modified"><%= publishedArticle.date_modified %></p>
                <p class="body"><%- publishedArticle.body %></p>
                <div class="h1-and-friends-center friend-gap">
                    <%if (!user) { %>
                    <a href="/login"><button id="like-button" class="btn-med btn-alert" type="submit">Login to like this article</button></a>
                    <%} else if (hasLiked) { %>
                    <form method="POST" action="/reader/blog/<%= blogAndUser.id %>/article/<%= publishedArticle.id %>/unlike#like-button">
                        <button id="like-button" class="btn-med btn-warning" type="submit">Unlike</button>
                    </form>
                    <%} else { %>
                    <form method="POST" action="/reader/blog/<%= blogAndUser.id %>/article/<%= publishedArticle.id %>/like#like-button">
                        <button id="like-button" class="btn-med btn-primary" type="submit">Like</button>
                    </form>
                    <%} %>
                    <div class="h1-and-friends-column reader-display-views-likes">
                        <p>Views: <%= publishedArticle.views %></p>
                        <p><a href="/reader/blog/<%= blogAndUser.id %>/article/<%= publishedArticle.id %>/likes">Likes: <%= publishedArticle.likes %></a></p>
                    </div>
                </div>
            </div>

            <hr />
            <h2 id="comments-section" class="comments-header"><%= comments.length %> comments</h2>

            <%if (!user) { %>
            <div class="form-width-25 form-input-area">
                <input disabled placeholder="Add a comment here" />
                <a href="/login"><button class="btn-med btn-alert margin-top">Login to post comments</button></a>
            </div>
            <%} else { %>
            <form class="form-width-25" method="POST" action="/reader/blog/<%= blogAndUser.id %>/article/<%= publishedArticle.id %>">
                <div class="form-input-area">
                    <input id="enterComment" name="enterComment" type="text" placeholder="Add a comment here" />
                    <input class="btn btn-primary margin-top" type="submit" value="Post comment" />
                </div>
            </form>
            <%}%> <%comments.forEach(comment => { %>
            <div class="comment-container">
                <div class="h1-and-friends-center friend-gap comment-name-date">
                    <p class="friend-display-name"><%= comment.display_name %></p>
                    <p class="text-dim">@ <%= comment.date_created %></p>
                </div>
                <p class="posted-comment"><%= comment.body %></p>
            </div>
            <%}) %>
        </main>

        <footer><%- include("../partials/footer.ejs") %></footer>
    </body>
</html>
