<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../partials/header-nav.ejs") %></header>

        <main>
            <div class="reader-title-container-with-back-btn">
                <div class="h1-and-friends-center absolute">
                    <a href="/reader">Blogs</a>
                </div>
                <div class="reader-title-itself">
                    <h1><%= blog.title %></h1>
                    <p>by <%= blog.display_name %></p>
                </div>
            </div>

            <div class="reader-display-container">
                <%publishedArticles.forEach(publishedArticle => { %>
                <a href="/reader/blog/<%= blog.id %>/article/<%= publishedArticle.id %>" class="reader-display-items no-underline">
                    <h2><%= publishedArticle.title %></h2>
                    <h3><%= publishedArticle.subtitle %></h3>
                    <p><%= publishedArticle.date_modified %></p>
                    <p><%= publishedArticle.body_plain %></p>
                    <button class="btn btn-primary">Read more</button>
                    <div class="h1-and-friends-column reader-display-views-likes">
                        <p>Views: <%= publishedArticle.views %></p>
                        <p>Likes: <%= publishedArticle.likes %></p>
                    </div>
                </a>
                <%}); %>
            </div>
        </main>

        <footer><%- include("../partials/footer.ejs") %></footer>
    </body>
</html>
