<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../partials/header-nav.ejs") %></header>

        <main>
            <div class="reader-title-container">
                <div class="reader-title-itself">
                    <h1>Blogs</h1>
                    <p>Here are all the blogs on our website!</p>
                </div>
            </div>

            <div class="reader-display-container">
                <%allBlogsAndUsers.forEach(blogAndUser => { %>
                <a href="/reader/blog/<%= blogAndUser.id %>" class="reader-display-items no-underline">
                    <h2><%= blogAndUser.title %></h2>
                    <h3>by <%= blogAndUser.display_name %></h3>
                    <p>Number of articles: <%= blogAndUser.article_count %></p>
                    <button class="btn-med btn-primary">View all articles</button>
                </a>
                <%}) %>
            </div>
        </main>

        <footer><%- include("../partials/footer.ejs") %></footer>
    </body>
</html>
