<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title><%= pageName + tabNameSeparator + appName %></title>
    </head>
    <body>
        <header><%- include("../header-nav.ejs") %></header>

        <main class="main-read-article">
            <div class="title-container-reader">
                <h1><%= blogTitle.blog_title %></h1>
            </div>

            <%chosenArticle.forEach(article => { %>
            <h2><%= article.title %></h2>
            <h3><%= article.subtitle %></h3>
            <p class="date-modified"><%= article.date_modified %></p>
            <p class="body"><%- article.body %></p>
            <%if (article.title != "No article chosen to read!") { %>
            <div class="read-views-and-likes">
                <p>Views: <%= article.views %></p>
                <p>Likes: <%= article.likes %></p>
            </div>
            <%} %> <%}); %>

            <hr />

            <div class="comments-section">
                <h2>Comments</h2>
                <div class="one-comment">
                    <p>display_name (--primary) @ date_commented (--text-dim)</p>
                    <p>comment message</p>
                </div>
            </div>

            <form>
                <div class="form-input-area">
                    <label for="enterComment">Enter comments:</label>
                    <input id="enterComment" name="enterComment" type="text" placeholder="Enter comment" />
                </div>
                <input type="submit" value="Post comment" />
            </form>
        </main>

        <footer><%- include("../header-nav.ejs") %></footer>
    </body>
</html>
